

/*=======================*\
    #Education
\*=======================*/

.edu-list {
    padding: 0;
}

.edu {
    margin: 0.3rem;


    &__header {
        font-weight: bold;
        font-size: 1.1rem;
    }

        &__title {
        }
        &__date {
            display: inline-block;
            margin-left: 0.4rem;

            font-size: 0.9rem;
            font-style: italic;
            font-weight: normal;
        }

    &__tag-list {
        margin-left: 1rem;
    }

}