
/*=======================*\
    #Foot Grouping
\*=======================*/

.edu-ref {
    margin: 0 auto;
    width: 92%;
}

.edu-section {
    float: left;
    padding: 0 0.5rem;
    border-right: 1px solid $grey;
    width: 70%;
}

.references-section {
    float: left;
    padding: 0 0.5rem;
    border-left: 1px solid $grey;
    margin-left: -1px;
    width: 30%;
}



/*=======================*\
    #Education
\*=======================*/

.edu {
    margin: 0.3rem;


    &__header {
        font-weight: bold;
        font-size: 1.2rem;
    }

        &__title {
        }
        &__date {
            display: inline-block;
            margin-left: 0.4rem;

            font-size: 0.9rem;
            font-style: italic;
            font-weight: normal;
        }

    &__tag-list {
        margin-left: 1rem;
    }

}