
/*=======================*\
    #Header
\*=======================*/

.header {
    position: relative;
    padding: 1rem 0;


    &__headshot {
        position: absolute;
        top: 0;
        // left: 1.5%;

        // width: 10%;
        border-radius: 3px;
    }

    &__name {
        color: $highlight;

        text-align: left;

        font-size: 3.5rem;
    }

}

.header-intro {
    overflow: hidden;

    padding: 0rem;
    margin: 0 auto;

    width: 98%;
}





/*=======================*\
    #Contact
\*=======================*/

.contact-me {

    position: relative;
    z-index: -10;

    width: 100%;
    padding: 0 1%;

    background-color: $grey;

    &__list {
        // display: flex;
        overflow: hidden;


        padding: 0.9rem 0;
        margin: 0;
        margin-left: 145px;

        list-style-type: none;
    }

    &__item {
        // flex: 1;
        float: left;
        text-align: left;


        & + & {
            padding-left: 4rem;
        }
    }

    &__icon {
        padding: 0.3rem 0.5rem;
    }


}





/* Image & Header Positioning */
.header__headshot {
    left: 3.5%;
    width: 17%;
}
.header__name,
.contact-me__list {
    margin-left: 21%;
}