
/*=======================*\
    #Skills + Software
\*=======================*/

.skill-soft {
    overflow: hidden;
    margin: 1.2rem 0 2rem;
}

    .skills {
        float: left;
        padding: 0 1.2rem;
        width: 50%;
    }
    .software {
        float: right;
        padding: 0 1.2rem;
        width: 50%;
    }