
/*=======================*\
    #Skills + Software
\*=======================*/

.skill-soft {
    overflow: hidden;
    margin: 1.1rem 1.5rem;
}

    .skills {
        float: left;
        padding-right: 0.7rem;
        width: 50%;
    }
    .software {
        float: right;
        padding-left: 0.7em;
        width: 50%;
    }