
/*=======================*\
    #Work Experience
\*=======================*/

.work-exp {


    &__icon {
        padding: 0.3rem 0.5rem;
    }

    &__header {
        /* padding-bottom: 0.2rem;
        border-bottom: 1px  solid $grey;

        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        color: $highlight; */
    }



    /*-------------------------*\
        #Work Experience list
    \*-------------------------*/

    &__list {
        list-style-type: none;
    }

    &__item {
    }


}



/*=======================*\
    #Project
\*=======================*/

.project {



    /*-------------------------*\
        #Header
    \*-------------------------*/

    &__header {
    }
        &__title {
        }
        &__sub-title {
        }


    &__date {
    }



}