
/*=======================*\
    #Base Styling
\*=======================*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration:  none;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}