
/*=======================*\
    #Sidebar + Content
\*=======================*/

.sidebar,
.content {
    float: left;
    margin-top: 1rem;
    padding: 0 0.8rem;
}

.sidebar {
    border-right: 1px solid $grey;
    width: 30%;

    &__section + &__section {
        margin-top: 1rem;
    }

    &__title {
        padding-bottom: 0.2rem;
        border-bottom: 1px solid $grey;
        font-size: 1.6rem;
        font-weight: normal;
    }
}
.content {
    border-left: 1px solid $grey;
    margin-left: -1px;
    width: 70%;
}





/*=======================*\
    #Title + Icon
\*=======================*/

.title {
    padding-bottom: 0.2rem;
    border-bottom: 1px solid $grey;

    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    color: $highlight;
}

.icon {
    padding: 0.3rem 0.5rem;
}