/*
.container {
    padding: 0.8rem;
}
*/
html {
    font-size: 14px;
}


.sidebar {
    float: left;

    padding: 0.6rem;
    margin: 0.5rem 0;
    border-right: 1px solid $grey;
    width: 32%;

    &__title {

    }
}

.content {
    float: left;
    padding: 0.6rem;
    margin: 0.5rem 0;
    width: 66%;
}


.list-unstyled {
    list-style-type: none;
}

.resume-section {
    // padding: 0 2rem;
}

.title {
    padding-bottom: 0.2rem;
    border-bottom: 1px solid $grey;

    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    color: $highlight;

    &__icon {
        padding: 0.3rem 0.5rem;
    }

}


/*=======================*\
    #Print media
\*=======================*/

@media print {
    * {-webkit-print-color-adjust: exact;}
}