
.container {
    padding: 0.8rem;
}

.header {
    width: 100%;
}

.headshot {
    float: left;
    padding-right: 0.6rem;

    width: 30%;
}


/*=======================*\
    #Intro
\*=======================*/

.intro {

    float: left;
    width: 70%;


    &__name {
        margin: 0;
        color: $highlight;

        font-size: 3rem;
    }

    &__title {
        margin: 0;

        font-size: 2rem;
        font-weight: normal;
        font-style: italic;
    }

}





/*=======================*\
    #Profile
\*=======================*/

.profile {

    float: left;
    width: 100%;

    &__bullet-list {
    }
}





/*=======================*\
    #Contact
\*=======================*/

.contact-me {

    float: left;
    width: 70%;

    &__header {
        color: $highlight;
    }
}





/*=======================*\
    #Print media
\*=======================*/

@media print {

}