/*
.container {
    padding: 0.8rem;
}
*/
html {
    font-size: 12px;
}

.list-unstyled {
    list-style-type: none;
}

.content-section {
    margin: 0 auto;
    margin-top: 1.3rem;
    width: 75%;
}

.title {
    padding-bottom: 0.2rem;
    border-bottom: 1px solid $grey;

    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    color: $highlight;

    &__icon {
        padding: 0.3rem 0.5rem;
    }

}


/*=======================*\
    #Print media
\*=======================*/

@media print {
    * {-webkit-print-color-adjust: exact;}
}