
/*=======================*\
    #Base Styling
\*=======================*/

a {
    text-decoration:  none;
    font-weight: normal;    
}





/*=======================*\
    #Form
\*=======================*/

.btn--print {
    padding: 0.9rem;
    background-color: #2547AA;
}





/*=======================*\
    #~~
\*=======================*/

.test {
    margin-left: -16px;
    color: #00F;
}





/*=======================*\
    #Print media
\*=======================*/

@media print {
    .test  { 
        display: block; 
        page-break-before: always; 
        color: #0F0;
    }
}