
/*=======================*\
    #Project
\*=======================*/

.project-list {
    padding: 0 1rem;
}

.project {


    /*-------------------------*\
        #Header
    \*-------------------------*/

    &__header {
        font-weight: bold;
        font-size: 1.2rem;
    }
        &__title {
        }
        &__sub-title {
        }
        &__date {
            display: inline-block;
            margin-left: 0.4rem;

            font-size: 0.9rem;
            font-style: italic;
            font-weight: normal;
        }


        & .tag-list {
            margin-left: -1.5rem;
        }


        & + & {
            margin-top: 1rem;
        }

}



.project--work-exp {}
.project--prog-exp {}