
/*=======================*\
    #Project
\*=======================*/

.project-list {
    padding: 0 1rem;
}

.project {

    /*-------------------------*\
        #Header
    \*-------------------------*/

    &__header {
        font-weight: bold;
        font-size: 1.2rem;
    }
        &__title {
        }
        &__sub-title {
        }
        &__date {
            display: inline-block;
            margin-left: 0.4rem;

            font-size: 0.9rem;
            font-style: italic;
            font-weight: normal;
        }


        & + & {
            margin-top: 1rem;
        }




    /*-------------------------*\
        #Tags
    \*-------------------------*/

    &__tag-group {
    }

    &__highlight,
    &__tag-title {
        display: inline;
        color: $highlight;
        font-size: 1.1rem;
    }
    &__tag-list {
        display: inline;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    &__tag {
        display: inline;


        &:after {
            content: ',';
        }

        & + &:before {
            // content: '';
        }
    }
}