
/*==========================*\
    #Tag list
\*==========================*/

.tag-list {
    margin: 0;
    padding: 0;
    text-align: left;
}

.tag {
    display: inline-block;

    padding: 0.3rem 0.5rem;
    margin: 0.2rem 0.1rem;

    font-size: 0.7rem;
    text-align: center;
    background-color: $grey;
    border-radius: 4px;
}